body {
  font-family: sans-serif;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#turn-number {
  font-size: 2em;
}

#party-leaders, #current-vote, #actions, #messages {
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
}

#current-vote h2 {
  text-align: center;
}
